# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
build/

# IDE
.idea/
.vscode/
*.iml

# iOS
ios/Pods/
ios/Flutter/ephemeral/
ios/.symlinks/

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks

# OS
.DS_Store
Thumbs.db
